<div id="<%= dom_id question %>">
  <p>
    <strong>Category:</strong>
    <%= question.category %>
  </p>

  <p>
    <strong>French traduction:</strong>
    <%= question.french_traduction %>
  </p>

  <p>
    <strong>Greek traduction:</strong>
    <%= question.greek_traduction %>
  </p>

</div>
